// COLOURS
// Desktop Background Options
$dark-red: #7A3045;
// Active Background Colour
$bg-colour: $dark-red;
// UI Colours
$light-mode: #CBC6C1;
$off-black: #2E222F;
// Text Colors
$light-text: white;
$dark-text: #2E222F;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;